table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px auto;
}

th {
    background: #b38406;
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 4px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 14px;
}