<p>PRODUCTOS</p>
<!-- FORM -->
<form *ngIf="buscadorFormGroup" [formGroup]="buscadorFormGroup" (ngSubmit)="obtenerRelacionadoConsulta()" #aForm>

    <div fxLayout="row" fxLayoutAlign="space-around" fxLayout.xs="column" fxLayoutGap="0.2%">
        <div fxFlex="20%">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>
                    <mat-icon>search</mat-icon> Buscar
                </mat-label>
                <input matInput autocomplete="off" placeholder="Buscar..." name="buscador" formControlName="buscador"
                    type="text">
            </mat-form-field>
        </div>
        <div fxFlex="20%">
            <ng-select placeholder="Categoria" formControlName="idCategoria" class="w-100" [clearable]="false"
                (change)="obtenerRelacionadoConsulta()">
                <ng-option [value]="0">
                    TODOS LOS CATEGORIAS
                </ng-option>
                <ng-option *ngFor="let item of categorias" [value]="item._id">
                    {{item.codigo}} - {{item.descripcion}}
                </ng-option>
            </ng-select>
        </div>
        <div fxFlex="20%">
            <ng-select placeholder="Fabricante" formControlName="idFabricante" class="w-100" [clearable]="false"
                (change)="obtenerRelacionadoConsulta()">
                <ng-option [value]="0">
                    TODOS LOS FABRICANTES
                </ng-option>
                <ng-option *ngFor="let item of fabricantes" [value]="item._id">
                    {{item.codigo}} - {{item.descripcion}}
                </ng-option>
            </ng-select>
        </div>
        <div fxFlex="20%">
            <ng-select placeholder="Clasificacion" formControlName="idClasificacion" class="w-100" [clearable]="false"
                (change)="obtenerRelacionadoConsulta()">
                <ng-option [value]="0">
                    TODOS LOS CLASIFICACIONES
                </ng-option>
                <ng-option *ngFor="let item of clasificaciones" [value]="item._id">
                    {{item.codigo}} - {{item.descripcion}}
                </ng-option>
            </ng-select>
        </div>
        <div fxFlex="10%">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>
                    <mat-icon>reorder</mat-icon> Limite
                </mat-label>
                <input matInput placeholder="Limite" formControlName="limite" type="number">
            </mat-form-field>
        </div>

        <div fxFlex="10%" fxLayoutAlign="end center">
            <button cdkFocusInitial type="submit" mat-raised-button color="warn">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </div>
</form>
<table class="w-100">
    <thead>
        <tr>
            <th>CATEGORIA</th>
            <th>FABRICANTE</th>
            <th>CLASIFICACION</th>
            <th>Codigo</th>
            <th>Codigo Pro</th>
            <th>Descripcion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of productos">
            <td>{{item.Categoria.descripcion}}</td>
            <td>{{item.Fabricante.descripcion}}</td>
            <td>{{item.Clasificacion.descripcion}}</td>
            <td>{{item.codigo}}</td>
            <td>{{item.codigoProveedor}}</td>
            <td>{{item.descripcion}}</td>
            <td>
                <button mat-icon-button (click)="editar(item)" matTooltip="Detalle Persona">
                    <mat-icon color="primary">edit</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>


<button (click)="exportar()" mat-raised-button color="accent">
    <mat-icon>get_app</mat-icon> Exportar a Excel
</button>