.mat-form-field {
    width: 100%;
}

.logo {
    width: 90%;
    height: auto;
}

.fondo {
    position: relative;
    opacity: 0.9;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(~src/assets/imagenes/fondos/bmcar.jpg);
    min-height: 100%;
}

.caption {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
}

span.titulo {
    background-color: rgba(3, 47, 100, 0.527);
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    z-index: -1;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.cargando {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
