<p>Ventas por Ingreso:</p>

<table>
    <thead>
        <tr>
            <th class="header">Venta</th>
            <th class="header">Cantidad</th>
            <th class="header">Precio Compra</th>
            <th class="header">Precio Venta</th>
            <th class="header">Registro</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of ventas">
            <td>{{item.Venta.codigo}}</td>
            <td>{{item.cantidad}}</td>
            <td>{{item.precioCompra}}</td>
            <td>{{item.precioVenta}}</td>
            <td>{{item.registro | date:'EEEE dd LLLL yyyy hh:mm:ss a'}}</td>
        </tr>
    </tbody>
</table>