<!-- TITULO -->
<div mat-dialog-title>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="flex-p">
        <div fxLayout="row">
            <mat-icon color="primary">{{ data.nuevo? 'add':'edit'}}</mat-icon>
            Venta
        </div>
        <div fxLayout="row"></div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-icon color="warn" (click)="onNoClick()" style="cursor: pointer" matTooltip="Cerrar">
                backspace
            </mat-icon>
        </div>
    </div>
    <mat-divider></mat-divider>
</div>

<!-- FORM -->
<form *ngIf="registroFormGroup" [formGroup]="registroFormGroup" (ngSubmit)="onSubmit()">

    <!-- CUERPO -->
    <div mat-dialog-content>

        <ng-select [items]="sucursales" bindLabel="descripcion" bindValue="_id" placeholder="Selecciona Sucursal"
            appendTo="body" formControlName="Sucursal" (change)="cambiarSucursal(false)">
        </ng-select>
        <mat-error *ngIf="registroControl && r.Sucursal.errors">
            <mat-error *ngIf="r.Sucursal.errors.required">
                Se requiere una Sucursal!
            </mat-error>
        </mat-error>

        <ng-select [items]="almacenes" bindLabel="descripcion" bindValue="_id" placeholder="Selecciona Almacen"
            appendTo="body" formControlName="Almacen">
        </ng-select>
        <mat-error *ngIf="registroControl && r.Almacen.errors">
            <mat-error *ngIf="r.Almacen.errors.required">
                Se requiere un Almacen!
            </mat-error>
        </mat-error>

        <ng-select [items]="tipos" bindLabel="descripcion" bindValue="id" placeholder="Selecciona Tipo" appendTo="body"
            formControlName="tipo" (change)="verificarCliente()">
        </ng-select>
        <mat-error *ngIf="registroControl && r.tipo.errors">
            <mat-error *ngIf="r.tipo.errors.required">
                Se requiere un Tipo!
            </mat-error>
        </mat-error>

        <mat-card>

            <div class="example-ripple-container mat-elevation-z4" matRipple (click)="cliente()">
                Buscar cliente... (F10)
                <div *ngIf="clienteSeleccionado">
                    <b>{{clienteSeleccionado.ci}}: {{clienteSeleccionado.razon}} - {{clienteSeleccionado.empresa}}</b>
                </div>
            </div>
            <mat-error *ngIf="registroControl && r.Cliente.errors">
                <mat-error *ngIf="r.Cliente.errors.required">
                    Busque un cliente, por favor!
                </mat-error>
            </mat-error>
            <mat-icon color="warn" (click)="obtenerClienteNoOficial()" style="cursor: pointer" matTooltip="Obtener Cliente Rapido">
                update
            </mat-icon>
        </mat-card>


        <div fxLayout="row" fxLayoutAlign="space-around" fxLayout.xs="column" fxLayoutGap="0.2%">
            <div fxFlex="50%">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>CI/NIT</mat-label>
                    <input matInput autocomplete="off" placeholder="CI o NIT" formControlName="ci" type="text"
                        [required]="true">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-error *ngIf="registroControl && r.ci.errors">
                        <mat-error *ngIf="r.ci.errors.required">
                            Se requiere CI o NIT
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="50%">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>RAZON</mat-label>
                    <input matInput autocomplete="off" placeholder="RAZON" formControlName="razon" type="text"
                        [required]="true">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-error *ngIf="registroControl && r.razon.errors">
                        <mat-error *ngIf="r.razon.errors.required">
                            Se requiere la Razon Social
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <!--  (blur)="buscarDescripcion()" -->
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Descripcion</mat-label>
            <input matInput autocomplete="off" placeholder="Descripcion" formControlName="descripcion" type="text"
                [required]="true">
            <mat-icon matSuffix>description</mat-icon>
            <mat-error *ngIf="registroControl && r.descripcion.errors">
                <mat-error *ngIf="r.descripcion.errors.required">
                    Se requiere la descripcion
                </mat-error>
                <mat-error *ngIf="r.descripcion.errors.minlength">
                    Debe tener al menos 3 caracteres
                </mat-error>
            </mat-error>
        </mat-form-field>

    </div>

    <mat-divider></mat-divider>

    <!-- PIE -->
    <div mat-dialog-actions>
        <button cdkFocusInitial type="submit" mat-raised-button color="warn">
            <mat-icon>done</mat-icon> {{ data.nuevo? 'Registrar!':'Actualizar!'}}
        </button>
    </div>

</form>