<!-- TITULO -->
<div fxLayout="row" fxLayoutAlign="space-between center" class="flex-p">
    <div fxLayout="row">
        <button mat-button>
            <mat-icon>people_alt</mat-icon> Usuarios
        </button>
    </div>
    <div fxLayout="row"></div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-mini-fab (click)="operaciones()" color="accent" matTooltip="Busqueda Avanzada">
            <mat-icon>filter_list</mat-icon>
        </button>
        <button mat-mini-fab (click)="nuevo()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>

<mat-divider></mat-divider>
<mat-form-field>
    <mat-label>
        <mat-icon>search</mat-icon> Buscar
    </mat-label>
    <input type="search" matInput (keyup)="aplicarFiltro($event)" placeholder="buscar..">
</mat-form-field>
<mat-divider></mat-divider>

<!-- TABLA -->
<div class="tabla-contenedor mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="tabla">

        <!--  -->
        <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="letra" style="width: 30%">Usuario</th>
            <td mat-cell *matCellDef="let element" class="letra">
                {{element.usuario}}
            </td>
        </ng-container>

        <!--  -->
        <ng-container matColumnDef="clave">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="letra" style="width: 20%">Persona</th>
            <td mat-cell *matCellDef="let element" class="letra">
                {{element.Persona.nombres}} {{element.Persona.primerApellido}} {{element.Persona.segundoApellido}}
            </td>
        </ng-container>

        <!--  -->
        <ng-container matColumnDef="registro">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="letra" style="width: 20%">Registro</th>
            <td mat-cell *matCellDef="let element" class="letra">
                {{element.registro | date}}
            </td>
        </ng-container>

        <!--  -->
        <ng-container matColumnDef="activo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="letra" style="width: 20%">Activo</th>
            <td mat-cell *matCellDef="let element" class="letra">
                {{element.activo? 'SI':'NO'}}

                <mat-icon>{{element.activo?'lock_open':'lock'}}</mat-icon>&nbsp;
                <mat-slide-toggle [checked]="element.activo" (change)="cambiaEstado(element, $event.checked)">
                </mat-slide-toggle>
            </td>
        </ng-container>

        <!-- OPCIONES -->
        <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef class="letra" style="width: 15%; text-align: right;">OPCIONES</th>
            <td mat-cell *matCellDef="let element" class="letra" style="text-align: right;">

                <button mat-icon-button (click)="permiso(element)" matTooltip="Detalle Persona">
                    <mat-icon color="primary">vpn_key</mat-icon>
                </button>

                <button mat-icon-button [matMenuTriggerFor]="menu" color="primany" matTooltip="Opciones">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #menu="matMenu">
                    <div style="text-align: center;">
                        <div>
                            <b>{{element.nombres}}</b>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <button mat-menu-item (click)="sucursal(element)" matTooltip="Editar">
                        <mat-icon>pivot_table_chart</mat-icon> Sucursal
                    </button>

                </mat-menu>



                <!-- *ngIf="element.isActive" -->
                <!--
                <button mat-icon-button [matMenuTriggerFor]="menu" color="primany" matTooltip="Opciones">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <div style="text-align: center;">
                        <div>{{element.placa}}</div>
                    </div>
                    <mat-divider></mat-divider>
                    <button mat-menu-item (click)="editar(element)" matTooltip="Editar">
                        <mat-icon>edit</mat-icon> Editar
                    </button>
                    <button mat-menu-item (click)="eliminar(element)" matTooltip="Eliminar">
                        <mat-icon>delete</mat-icon> Eliminar
                    </button>
                    <button mat-menu-item (click)="detalle(element)" matTooltip="Eliminar">
                        <mat-icon>info</mat-icon> Detalle
                    </button>
                </mat-menu>

                <button *ngIf="element.isActive" mat-mini-fab (click)="editar(element)" color="accent"
                    matTooltip="Editar">
                    <mat-icon>edit</mat-icon>
                </button>

                <button *ngIf="element.isActive" mat-mini-fab (click)="eliminar(element)" color="warn"
                    matTooltip="Eliminar">
                    <mat-icon>delete</mat-icon>
                </button>
                -->

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="permiso(row)"
            (mouseenter)="row.isActive=true" (mouseleave)="row.isActive=false">
        </tr>
    </table>

</div>

<!-- PAGINADOR-->
<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30, 40, 50, 100, 200]" showFirstLastButtons
    class="mat-elevation-z8">
</mat-paginator>