<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="30%" fxLayoutAlign="center end">
    </div>
    <div fxFlex="40%">
        <div style="text-align: center;">
            <div>
                <img src="assets/imagenes/logo/logo_500.png" alt="" style="width: 60%; height: auto">
            </div>
        </div>

        <div style="text-align: center; min-height: 200px;">
            <div>
                <b style="color: rgb(13, 151, 144); font-size: 40px;">miTienda - BM CAR</b>
            </div>

            <!--             
            <div>
                Sistema de Calificacion Personal
            </div>
            -->

            <div>
                <b>
                    miTiendaApp es desarrollada por miAppPro.com
                </b>
            </div>
        </div>

    </div>
    <div fxFlex="30%">

        <!--
        <div style="text-align: center;">
            <div>
                <img src="assets/imagenes/undraw/calificacion.png" alt="" style="width: 60%; height: auto">
            </div>
            <div>
                <img src="assets/imagenes/undraw/adjunto.png" alt="" style="width: 60%; height: auto">
            </div>
        </div>
        -->

    </div>
</div>
