<p>INGRESO DE PRODUCTOS</p>

<!-- <utton (click)="downloadExcel()">Exportar a Excel 3</button> -->
<!-- FORM -->
<form *ngIf="buscadorFormGroup" [formGroup]="buscadorFormGroup" (ngSubmit)="obtener()" #aForm>

    <div fxLayout="row" fxLayoutAlign="space-around" fxLayout.xs="column" fxLayoutGap="0.2%">
        <div fxFlex="20%">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>
                    <mat-icon>search</mat-icon> Buscar
                </mat-label>
                <input matInput autocomplete="off" placeholder="Buscar..." name="buscador" formControlName="buscador"
                    type="text">
            </mat-form-field>
        </div>
        <div fxFlex="60%">
        </div>
        <div fxFlex="10%">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>
                    <mat-icon>reorder</mat-icon> Limite
                </mat-label>
                <input matInput placeholder="Limite" formControlName="limite" type="number">
            </mat-form-field>
        </div>

        <div fxFlex="10%" fxLayoutAlign="end center">
            <button cdkFocusInitial type="submit" mat-raised-button color="warn">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </div>
</form>

<table class="w-100">
    <thead>
        <tr>
            <th style="width: 10%;">CODIGO</th>
            <th style="width: 20%;">PROVEEDOR</th>
            <th style="width: 25%;">DESCRIPCION</th>
            <th style="width: 10%;">ALMACEN 1</th>
            <th style="width: 10%;">ALMACEN 2</th>
            <th style="width: 10%;">ALMACEN 3</th>
            <th style="width: 10%;">ALMACEN 4</th>
            <th style="width: 5%;"> TOTAL</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of datos">
            <td style="text-align: start;">
                {{item.productoCodigo}}
            </td>
            <td style="text-align: start;">
                {{item.productoCodigoProveedor}}
            </td>
            <td style="text-align: start;">
                {{item.productoDescripcion}}
            </td>

            <td style="text-align: center;">
                {{item.almacen1}}
            </td>
            <td style="text-align: center;">
                {{item.almacen2}}
            </td>
            <td style="text-align: center;">
                {{item.almacen3}}
            </td>
            <td style="text-align: center;">
                {{item.almacen4}}
            </td>

            <td style="text-align: center;">
                {{item.total}}
            </td>
        </tr>
    </tbody>
</table>

<button (click)="exportar()" mat-raised-button color="accent">
    <mat-icon>get_app</mat-icon> Exportar a Excel
</button>

<br>

<button (click)="obtenerReporteFinal()" mat-raised-button color="warn">
    <mat-icon>update</mat-icon> ObtenerReporteFinal
</button>

<button (click)="exportarReporte()" mat-raised-button color="accent">
    <mat-icon>get_app</mat-icon> Exportar a Excel ObtenerReporteFinal
</button>